<a href="https://colab.research.google.com/github/Paulovinicius212/CIENCIA-DE-DADOS-DS01/blob/main/Ciclo_01_Resolu%C3%A7%C3%A3o_problemas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Iniciando os dados**

In [4]:
import pandas as pd

data = pd.read_csv( "/content/AB_NYC_2019.csv" )

In [ ]:
data.head()

## **Calcular a média de todos os valores de aluguel da cidade de Nova York.**

In [14]:
#Selecionar colunas

import pandas as pd
import numpy as np

# selecionar a coluna price
price = data.loc[:, 'price']

In [16]:
preco_aluguel = data.loc[:, 'price']

In [ ]:
np.mean( preco_aluguel )

# Contar todos os nomes distintos que aparecem na coluna região.#

In [18]:
import pandas as pd
import numpy as np
# selecionar a coluna região
regioes = data.loc[:, 'neighbourhood_group']

In [20]:
regiao = data.loc[:, 'neighbourhood_group']

pd.unique(regiao)

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

### **Encontrar o valor máximo da coluna que contém os valores dos aluguéis**

In [ ]:
import pandas as pd
import numpy as np
# selecionar a coluna price
price = data.loc[:, 'price']

In [21]:
np.max(price)

10000