<a href="https://colab.research.google.com/github/Paulovinicius212/CIENCIA-DE-DADOS-DS01/blob/main/Ciclo_03_Resolu%C3%A7%C3%A3o_problemas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Iniciando os dados**

In [ ]:
import pandas as pd

data = pd.read_csv( "/content/AB_NYC_2019.csv" )

In [ ]:
data.head()

## **Calcular a média de todos os valores de aluguel da cidade de Nova York.**

In [6]:
#Selecionar colunas

import pandas as pd
import numpy as np

# selecionar a coluna price
price = data.loc[:, 'price']

In [8]:
preco_aluguel = data.loc[:, 'price']

In [7]:
np.mean( preco_aluguel )

152.7206871868289

# Contar todos os nomes distintos que aparecem na coluna região.#

In [ ]:
import pandas as pd
import numpy as np
# selecionar a coluna região
regioes = data.loc[:, 'neighbourhood_group']

In [ ]:
regiao = data.loc[:, 'neighbourhood_group']

pd.unique(regiao)

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx', nan],
      dtype=object)

### **Encontrar o valor máximo da coluna que contém os valores dos aluguéis**

In [ ]:
import pandas as pd
import numpy as np
# selecionar a coluna price
price = data.loc[:, 'price']

In [ ]:
np.max(price)

10000.0

# **ciclo 2**

## **ciclo 3**

In [35]:
import pandas as pd
import plotly.express as px

In [36]:
data = pd.read_csv( "/content/AB_NYC_2019.csv" )

In [ ]:
# qual o valor diario maximo  do aluguel?
colunas = ["price","neighbourhood_group" ]
colunas_groupby = [ "neighbourhood_group" ]

data.loc[:, colunas].groupby(colunas_groupby).max().reset_index()

In [ ]:
import folium

# Definindo data_plot com base nas informações fornecidas
data_plot = data[['price', 'neighbourhood_group', 'latitude', 'longitude']].groupby('neighbourhood_group').max().reset_index()

# Calcular a média de latitude e longitude para centralizar o mapa
mean_lat = data_plot['latitude'].astype(float).mean()
mean_lon = data_plot['longitude'].astype(float).mean()

# Criar um mapa centrado na média da latitude e longitude
mapa = folium.Map(location=[mean_lat, mean_lon], zoom_start=14, control_scale=True)

# Adicionar marcadores para cada grupo de bairro
for index, info_localizacao in data_plot.iterrows():
    folium.Marker([float(info_localizacao['latitude']), float(info_localizacao['longitude'])],
                  popup=info_localizacao['neighbourhood_group']).add_to(mapa)

# Mostrar o mapa
mapa